<?xml version="1.0"?>
<robot name="67384b2e-058c-11ec-b879-061e4e83ef1b">
    <link name="67384b2e-058c-11ec-b879-061e4e83ef1b">
        <visual>
            <geometry>
                <mesh filename="../../../mesh/fabrica/jet_not_tested_yet/67384b2e-058c-11ec-b879-061e4e83ef1b.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../../mesh/fabrica/jet_not_tested_yet/67384b2e-058c-11ec-b879-061e4e83ef1b.obj"/>
            </geometry>
            <! Change Resolution to 420 for experiments "duct" and "gamepad" -->
            <! Normal resolution is 512 -->
            <sdf resolution="420"/>
        </collision>
    </link>
</robot>
