<?xml version="1.0"?>
<robot name="6739f8ee-058c-11ec-9ed6-061e4e83ef1b">
    <link name="6739f8ee-058c-11ec-9ed6-061e4e83ef1b">
        <visual>
            <geometry>
                <mesh filename="../../../mesh/fabrica/jet_not_tested_yet/6739f8ee-058c-11ec-9ed6-061e4e83ef1b.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../../mesh/fabrica/jet_not_tested_yet/6739f8ee-058c-11ec-9ed6-061e4e83ef1b.obj"/>
            </geometry>
            <! Change Resolution to 420 for experiments "duct" and "gamepad" -->
            <! Normal resolution is 512 -->
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>
