<?xml version="1.0"?>
<robot name="1">
    <link name="1">
        <visual>
            <geometry>
                <mesh filename="../../../mesh/fabrica/human_normal/1.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../../mesh/fabrica/human_normal/1.obj"/>
            </geometry>
            <! Change Resolution to 420 for experiments "duct" and "gamepad" -->
            <! Normal resolution is 512 -->
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>
