<?xml version="1.0"?>
<robot name="1">
    <link name="1">
        <visual>
            <geometry>
                <mesh filename="../../../mesh/fabrica/stool_circular/1.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../../mesh/fabrica/stool_circular/1.obj"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>
