<?xml version="1.0"?>
<robot name="3">
    <link name="3">
        <visual>
            <geometry>
                <mesh filename="../../../mesh/fabrica/stool_circular/3.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../../mesh/fabrica/stool_circular/3.obj"/>
            </geometry>
            <! Change Resolution to 420 for experiments "duct" and "gamepad" -->
            <! Normal resolution is 512 -->
            <sdf resolution="420"/>
        </collision>
    </link>
</robot>
