<?xml version="1.0"?>
<robot name="6">
    <link name="6">
        <visual>
            <geometry>
                <mesh filename="../../../mesh/fabrica/mechanism_2/6.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../../mesh/fabrica/mechanism_2/6.obj"/>
            </geometry>
            <! Change Resolution to 420 for experiments "duct" and "gamepad" -->
            <! Normal resolution is 512 -->
            <sdf resolution="420"/>
        </collision>
    </link>
</robot>
