<?xml version="1.0"?>
<robot name="4">
    <link name="4">
        <visual>
            <geometry>
                <mesh filename="../../../mesh/fabrica/cooling_manifold/4.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../../mesh/fabrica/cooling_manifold/4.obj"/>
            </geometry>
            <! Change Resolution to 420 for experiments "duct" and "gamepad" -->
            <! Normal resolution is 512 -->
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>
