<?xml version="1.0"?>
<robot name="5">
    <link name="5">
        <visual>
            <geometry>
                <mesh filename="../../../mesh/fabrica/cooling_manifold/5.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../../mesh/fabrica/cooling_manifold/5.obj"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>
