<?xml version="1.0"?>
<robot name="2">
    <link name="2">
        <visual>
            <geometry>
                <mesh filename="../../../mesh/fabrica/duct/2.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../../mesh/fabrica/duct/2.obj"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>
