<?xml version="1.0"?>
<robot name="4">
    <link name="4">
        <visual>
            <geometry>
                <mesh filename="../../../mesh/fabrica/duct/4.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../../mesh/fabrica/duct/4.obj"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>
